@import 'tailwindcss';
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
    --font-sans:
        'Vazirmatn', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif;

    --color-primary: #6C63FF;
    --color-primary-dark: #5A52D5;
    --color-secondary: #F50057;
    --color-brand-dark: #1A1A2E;
    --color-brand-light: #F8F9FA;
    --color-muted: #6B7280;
}

@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@300;400;500;600;700&display=swap');